@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap'); /*mochiy pop p one*/
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap'); /*public sans*/

:root {
    --white: #fffff0;
    --black: #141414;
    --dark-blue: #172444;
    --blue: #00165f;
    --yellow: #ffcc33;
    --red: #cf302b;
    --header-font: 'Mochiy Pop P One', sans-serif;
    --body-font: 'Public Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--white);
}

body::-webkit-scrollbar {
    scrollbar-width: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: var(--blue);
    align-items: center;
    justify-content: center;
}

nav > ul > li {
    display: flex;
    gap: 1rem;
}

li > a {
    color: var(--white);
    padding: 14px 16px;
    text-decoration: none;
    font-family: var(--body-font);
}

li > a:hover {
    background-color: var(--red);
    color: var(--yellow);
    transition: 0.5s ease-in-out;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.container > div:last-of-type {
    margin-right: 2rem;
}

h1 {
    font-family: var(--header-font);
    color: var(--black);
    text-align: center;
    margin-left: 2rem;
    transition: color 0.5s ease-in-out;
}

div > div > h1:hover {
    background-color: var(--blue);
    color: var(--yellow) !important;
    transition: 0.5s ease-in-out;
    cursor: default;
}

#header {
    color: var(--black);
}

h2, h2 > a, h2 > a:visited {
    font-family: var(--body-font);
    color: var(--blue);
    text-align: center;
}

h2 > a:hover {
    color: var(--red);
    transition: 0.5s ease-in-out;
}

p, ul {
    font-family: var(--body-font);
    color: var(--black);
    text-align: left;
    margin-left: 2rem;
}

nav {
    position: sticky;
    top: 0;
}

#quote {
    min-height: 1.2em;
}