@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap'); /*mochiy pop p one*/
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap'); /*public sans*/

:root {
    --white: #fffff0;
    --black: #141414;
    --dark-blue: #172444;
    --blue: #00165f;
    --yellow: #ffcc33;
    --red: #cf302b;
    --header-font: 'Mochiy Pop P One', sans-serif;
    --body-font: 'Public Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--white);
}

body::-webkit-scrollbar {
    scrollbar-width: none;
}

nav, .callout {
    position: sticky;
    top: 0;
}

.callout {
    top: 46px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: var(--blue);
    align-items: center;
    justify-content: center;
}

nav > ul > li {
    display: flex;
    gap: 1rem;
}

li > a {
    color: var(--white);
    padding: 14px 16px;
    text-decoration: none;
    font-family: var(--body-font);
}

li > a:hover {
    background-color: var(--red);
    color: var(--yellow);
    transition: 0.5s ease-in-out;
}

h1 {
    font-family: var(--header-font);
    color: var(--red);
    text-align: center;
    margin-left: 2rem;
}

h2 {
    font-family: var(--body-font);
    color: var(--blue);
    text-align: center;
}

p {
    font-family: var(--body-font);
}

.callout {
    background-color: var(--black);
    padding: 2px 0;
    z-index: 2;
}

.callout > p {
    color: var(--yellow);
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.image {
    align-content: center;
}

.image > img {
    width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 25px;
}

.image > p {
    text-align: center;
}

.image > p > a, .image > p > a:visited, #link-image > a, #link-image > a:visited {
    color: var(--black);
    text-decoration: none;
}

@media screen and (max-width: 1200px) {
    .image > img {
        width: 300px;
        height: auto;
    }
}

@media screen and (max-width: 600px) {
    .image > img {
        width: 200px;
        height: auto;
    }
}